main{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .box-container {
    color: rgb(255, 255, 255);
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .link-box {
    flex: 1;
    background-size: cover;
    background-position: left;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    text-decoration: none;
    z-index: 0;
    transform: scale(1.1);
  }

  .inner-text {
    color: #ccc;
    font-size: 4vw;
    margin: auto;
    text-shadow: black 10vh;

  }

  .link-box:hover {
    transform: scale(1.2);
  }
  .link-box:nth-child(1):hover .inner-text {
    background-image: url("/src/lib/grapphicdesign.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    margin: auto;
  }
  .link-box:nth-child(2):hover .inner-text {
    background-image: url("/src/lib/programming.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    margin: auto;
  }

  .link-box:nth-child(1) {
    background-image: url(/src/lib/panel1.jpg);
  }
  .link-box:nth-child(2) {
    background-image: url(/src/lib/panel3.jpg);
    background-repeat: no-repeat;
  }